:root {
    --darkPurple: #271338;
    --purple: #4c2a64;
    --darkPink: #a84b94;
    --lightPink: #efbcef;
    --ultraLightBlue: #d7d5f3;
    font-size: 16px;
    font-family: 'Matias', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}

header {
    /* background-color: #a84b94ad; */
    display: grid;
    justify-content: center;
}

    header h1 {
        font-size: 2em;
        align-self: center;
        text-align: center;
        margin-top: 5%;
        color: #271338;
    }  

main {
    /* background-color: var(--ultraLightBlue); */
    display: flex;
    justify-content: center;
    min-height: 50vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

    main .general-menu {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 0;
        font-size: 2em;
        gap: 2vh;
    }

        main .general-menu a {
            text-decoration: none;
            color: #a84b94;
        }

        @media (min-width:1300px) {
            main .general-menu a:hover {
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 10%;
                color: #271338;
                animation-name: borderBottom;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            header h1 {
                font-size: 2em;
            }  
        }

footer {
    /* background-color: var(--ultraLightBlue); */
    display: grid;
    margin-top: 5vh;
}

    footer img {
        justify-self: center;
        width: 30%;
        max-height: 100%;
    }

@font-face {
    font-family: Matias;
    src: url(../../fonts/Matias\ Webfont.ttf);
}

@keyframes borderBottom {
    0% {
        border-bottom: 5px solid #a84b9445;
    }
    25% {
        border-bottom: 5px solid #a84b947c;
    }
    50% {
        border-bottom: 5px solid #a84b94ad;
    }
    75% {
        border-bottom: 5px solid #a84b94e3;
    }
    100% {
        border-bottom: 5px solid #a84b94;
        
    }
}