header {
    display: flex;
    background: linear-gradient(#4c2a64, #271338);
}

    header img {
        width: 20%;
        max-width: 20vh;
        cursor: pointer;
    }

        header img:hover{
            background-color: #efbcef;
            border-radius: 20%;
        }

    header h2 {
        color: #d7d5f3;
        cursor: pointer;
    }

        /* header h2:hover {
            background-color: #efbcef;
            border-radius: 10%;
            padding: 5%;
            color: #271338;
        } */

    header .nav {
        display: flex;
        padding: 1%;
        padding-bottom: 0;
        justify-content: start;
        align-items: center;
    }

    header .back-nav {
        margin-left: auto;
        padding: 1%;
        padding-right: 0;
        padding-bottom: 0.2%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    @media (max-width:380px) {
        h2{
            visibility: hidden;
        }
    }